:root {
  --background: #efefef;
}


body {
  background: var(--background);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}


.fix-height {
  min-height: calc(100vh - 150px);
}

.overflow-height {
  height: calc(100vh - 150px);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-inline: 40px;
}


@media screen and (max-width:992px) {
  .container {
    padding-inline: 10px;
  }
}

/* Error Page CSS Styling : */
.error-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-page h1 {
  font-size: 30px;
  font-weight: 600;
  color: rgba(220, 38, 38);
}

.error-page h2 {
  color: rgba(55, 65, 81);
  font-size: 20px;
  margin-block: 12px;
}

.error-page button {
  width: 120px;
  background-color: rgb(59, 130, 246);
  color: rgba(255, 255, 255);
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 50px;
  font-size: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.error-page button:hover {
  background-color: rgb(14, 66, 150);
}

.error-page a,
.not-found-page a {
  display: block;
  font-size: 20px;
  text-decoration: underline;
  color: rgb(29, 78, 216);
  margin-top: 24px;
}

/* Not Found Page CSS Styling : */
.not-found-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-found-page h1 {
  font-size: 72px;
  font-weight: 700;
  color: rgb(31, 41, 55);
}

.not-found-page p {
  font-size: 30px;
  color: rgb(107, 114, 128);
  margin-block: 8px 20px;
}

/* Home page CSS Styling */
.home-page .title {
  font-size: 30px;
  margin-top: 40px;
  text-align: center;
}

.home-page .content-webPlan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-block: 1.75rem;
}

/* Responsive : */
@media (min-width: 768px) {
  .home-page .content-webPlan {
    gap: 1.75rem;
  }
}


/* About Page CSS Styling : */
.about-page {
  width: 100%;
  margin: 0 auto;
  padding-inline: 40px;
}

.about-page h1 {
  font-size: 30px;
  font-weight: bold;
  color: #1F2937;
  padding-block: 20px;
}

.about-page p {
  color: #4B5563;
  font-size: 20px;
}

/* Loading Page Styling : */
.loading-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-page .spinner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 8px solid gray;
  border-top: 8px solid #3498db;
  /* لون الجزء الدوار */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* Loading Button-spinner  CSS Styling :*/

.loading-button-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-button-spinner .spinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid gray;
  border-top: 4px solid #3498db;
  /* لون الجزء الدوار */
  animation: spin 1s linear infinite;
}