/* Hero Css Style : */

.hero {
    width: 100%;
    min-height: calc(100vh - 100px);
    color: rgb(10, 9, 9);
    padding: 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-size: 44px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.desc {
    font-size: 21px;
}

.services {
    padding: 5px;
    margin-top: 15px;
}

.serviceItem {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

/* Responsive */
@media screen and (max-width : 992px) {
    .hero img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width : 780px) {
    .hero {
        height: auto;
        flex-direction: column;
        justify-content: center;
        padding: 0 15px;
    }

    .heroLeft {
        width: 100%;
        background-color: snow;
        margin-block: 20px;
        border-radius: 20px;
        padding: 15px;
    }
}

/* WebHostingPlan Css Style : */
.webHostingPlan {
    width: 25%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    padding: 30px;
    background-color: #e5e7eb;
    margin-bottom: 1.75rem;
}

.webHostingPlan .priceType {
    font-size: 1.875rem;
    font-weight: 700;
    color: #4B0082;
}

.webHostingPlan .price {
    font-size: 1.875rem;
    font-weight: 700;
    color: #111827;
    margin-block: 1.25rem;
}

.webHostingPlan .sale {
    background-color: #FED7D7;
    color: #7C2D12;
    border-radius: 50px;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
}

.webHostingPlan .features {
    margin-top: 1.5rem
}

.webHostingPlan .features .title {
    font-size: 24px;
    margin-bottom: 4px;
    font-weight: 600;
    color: #6B21A8;
}

.webHostingPlan .features .feature {
    display: flex;
    align-items: center;
    color: #15803D;
    margin-bottom: 4px;
    padding-left: 12px;
}

.webHostingPlan .button {
    width: 100%;
    cursor: pointer;
    margin-top: 16px;
    border: 2px solid #111827;
    color: #111827;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.25rem;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.webHostingPlan .button:hover {
    color: #ffffff;
    background-color: #111827;
}

/* Responsive : */
@media screen and (max-width :992px) {
    .webHostingPlan {
        width: 50%;
    }
}

@media screen and (max-width :780px) {
    .webHostingPlan {
        width: 100%;
    }
}