.login_page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_page .content_login {
    width: 65%;
    background-color: white;
    border-radius: 15px;
    padding: 1.25rem;
}

.login_page .content_login h1 {
    font-size: 30px;
    font-weight: 700;
    color: #1F2937;
    margin-bottom: 20px;
}

.login_page .content_login form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login_page .content_login form input {
    width: 100%;
    margin-bottom: 16px;
    border: 1px solid #000;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1.25rem;
}

.login_page .content_login form button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #2c5282;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 700;
}

.login_page .content_login form button:disabled {
    cursor: not-allowed;
}

/* Responsive : */

@media screen and (max-width:780px) {
    .login_page .content_login {
        width: 100%;
    }
}