/* Add comment Form Styling : */
.form_addComment {
    width: 100%;
}

.form_addComment input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    padding: 0.8rem;
    background-color: white;
}

.form_addComment input:focus {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form_addComment button {
    display: block;
    width: max-content;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #2f855a;
    color: white;
    margin-top: 0.8rem;
    padding: 0.5rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    transition: background-color 0.5s ease;
}

.form_addComment button:hover {
    background-color: #22543d;
}

/* comment_item Styling : */
.comment_item {
    width: 100%;
    margin-bottom: 1.25rem;
    border-radius: 0.5rem;
    padding: 0.75rem;
    background-color: #e5e7eb;
    border: 2px solid #d1d5db;
}

.comment_item .person_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.comment_item .person_info .name {
    color: #1f2937;
    text-transform: uppercase;
}

.comment_item .person_info .date {
    background-color: #b45309;
    padding-inline: 0.25rem;
    border-radius: 0.5rem;
    color: #ffffff;
}

.comment_item .icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.comment_item .icons .icon_edit {
    color: #16a34a;
    font-size: 1.25rem;
    cursor: pointer;
    margin-right: 0.75rem;
}

.comment_item .icons .icon_delete {
    color: #dc2626;
    font-size: 1.25rem;
    cursor: pointer;
}


/* UpdateCommentModal CSS Styling : */
.overlay_Modal_updateComment {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay_Modal_updateComment .modal {
    width: 91.6667%;
    max-width: 50%;
    /* lg: (نصف الشاشة على الشاشات الكبيرة) */
    background-color: #ffffff;
    border-radius: 10px;
    padding: 12px;
    box-sizing: border-box;
}

.overlay_Modal_updateComment .modal .modal_header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 20px;
}

.overlay_Modal_updateComment .modal .modal_header .icon {
    cursor: pointer;
    font-size: 28px;
    line-height: 2.25rem;
    color: #ef4444;
    ;
}

.overlay_Modal_updateComment .modal form input {
    width: 100%;
    outline: none;
    border: 2px solid black;
    font-size: 20px;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    background-color: #ffffff;
}

.overlay_Modal_updateComment .modal form button {
    width: 100%;
    border: none;
    background-color: #15803d;
    color: #ffffff;
    padding: 7px;
    margin-top: 8px;
    border-radius: 8px;
    font-size: 20px;

    transition: all 0.3s ease-in-out;
}

.overlay_Modal_updateComment .modal form button:hover {
    background-color: #064e3b;
}

@media screen  and (max-width:992px){
    .overlay_Modal_updateComment .modal {
        max-width: 90%;
    }
}